<div class="choice-group">
    @foreach (var item in Enum.GetValues<LearningLevel>())
    {
        <button type="button" class="choice-button @(item == Selected ? "is-selected" : string.Empty)" @onclick="() => SelectedChanged.InvokeAsync(item)">
            @item
        </button>
    }
</div>

@code {
    [Parameter] public LearningLevel Selected { get; set; }
    [Parameter] public EventCallback<LearningLevel> SelectedChanged { get; set; }
}