<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="stylesheet" href="css/animations.css" />
        <link rel="stylesheet" href="css/theme.css" />
    <HeadOutlet />
</head>
<body>
    <CascadingAuthenticationState>
        <Routes @rendermode="new InteractiveServerRenderMode()" />
    </CascadingAuthenticationState>
    <script src="js/gameAnimations.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>